

.caja-individual{
    position: relative;
    top: 80px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}



#image{
    position: relative;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#image img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.adelante{
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #000000;
    border-radius: 15px;
    border: none;
    color: white;
    width: 5%;
    height: 5%;

}

.atras{
    position: absolute;
    top: 50%;
    background-color: #000000;
    border-radius: 15px;
    border: none;
    color: white;
    height: 5%;
    width: 5%;

}


.producto-detalles2{
    position: relative;
    width: 45%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    background-color: #161515;
    border: 1px solid blue;
    box-shadow: 3px 3px 3px 2px rgb(33, 10, 139);

}

.info{
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: end;

}

.descripciones{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 50%;
    text-align: center;
    color: aliceblue;
}

.title{
    position: relative;
    bottom: 10px;
    color: azure;
    text-transform: uppercase;
}

.uno-uno{
    position: relative;
    bottom: 10px;
    margin-top: 20px;
    font-size: 2vh;


}

.cop{
    font-size: 2vh;
}

.uno{
    position: relative;
    bottom: 7px;
    font-size: 4vh;


}

.dos{
    margin: 20px;
    font-size: 1.5vh;
}


.botones{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botones button{
    width: 70%;
    height: 40px;

}


.tallas-calzado button{
    border-radius: 100px;
    width: 50px;
}

.cantidades{
    width: 40%;
    height: 12%;
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: row;
    gap: 20px;
    right: 20px;
    color: aliceblue;
}
.precio23{
    position: absolute;
    width: 100px;
    bottom: 170px;
    left: 10px;
    font-size: 20px;
}

.cantidades{
    position: relative;
    top: 37%;
    left: 15%;
}

.cantidades button{
    width: 5rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #000000;
    border: none;
}
.cantidades button:hover{
    background-color: grey;
    opacity: 0.8;
}

.color{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 15%;
    height: 20%;

}

.color p {
    text-align: center;
}

.col_colores{
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.color div{
    cursor: pointer;
    padding: 0.3rem;
    text-transform: capitalize;
}

.color div:hover{
    background-color: rgb(161, 163, 165);
}


#lista{
    position: absolute;
    right: 15%;
    bottom: 4%;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    border-radius: 10px;
}
#lista option {
    color: #ffffff; /* Color por defecto del texto de las opciones */
    background-color: #332f2f; /* Color por defecto del fondo de las opciones */
}

#lista option:checked {
    display: none; /* Oculta la opción seleccionada */
}

#lista option[value="rojo"] {
    color: red; /* Cambia el color del texto de la opción "rojo" a rojo */
    background-color: pink; /* Cambia el color de fondo de la opción "rojo" a rosa */
}

#lista option[value="verde"] {
    color: green; /* Cambia el color del texto de la opción "verde" a verde */
    background-color: lightgreen; /* Cambia el color de fondo de la opción "verde" a verde claro */
}

#lista option[value="azul"] {
    color: blue; /* Cambia el color del texto de la opción "azul" a azul */
    background-color: rgb(22, 23, 24); /* Cambia el color de fondo de la opción "azul" a azul claro */
}


.formulario {
    position: relative;
    top: 200px;
    width: 55%;
    margin: 0 auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulario h2{
    color: aliceblue;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: aliceblue;
}

input {
    background-color: #2e2b2b;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #470099;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.men {
    color: red;
}

/* Estilos adicionales para mejorar la apariencia */
h2 {
    text-align: center;
}



input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #4CAF50;
}

.cop{
    font-size: 30px;
}


.des-imagenes{
    position: relative;
    margin-top: 20px;
    width: 99%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}


#colorForm{
    margin-top: 300px;
}


.caja-imagenes{
    position: relative;
    width: 8.5rem;
    height: 100%;
   
}
.caja-imagenes img{
    width: 100%;
    height: 80%;
}

.caja-imagenes p {
    color: aliceblue;
    font-size: 10px;
    text-align: center;
}

.id{
    color: red;
}

.pagosepay{
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    border: 1px solid blue;
}

/* Media Query para 1400px */
@media (max-width: 1400px) {
    .caja-individual {
        position: relative;
        top: 150px;
        display: flex;
        height: 1000px;
        flex-direction: column;
        align-items: center;

    }
    #image {
        width: 60%;
        height: 80%;
    }
    .producto-detalles2 {
        width: 60%;
        height: 80%;
    }

    .formulario {
        position: relative;
        left: 1%;
    }

    .uno-uno{
        font-size: .8rem;
    }
    .uno{
        font-size: 1.2rem;

    }
    .cop{
        font-size: 1rem;
    }
    .dos{
        font-size: .5rem;
    }

    .caja-imagenes{
        position: relative;
        width: 4.5rem;
        height: 50%;
       
    }
    .caja-imagenes img{
        width: 100%;
        height: 80%;
    }



}

@media (max-width: 900px) {
    .bor{
        position: absolute;
        width: 1%;
        height: 1%;
    }
    .caja-individual {
        position: relative;
        display: flex;
        height: 1000px;
        align-items: center;

    }
    #image {
        width: 60%;
        height: 70%;
    }
    .producto-detalles2 {
        width: 60%;
        height: 70%;

    }
    .formulario {
        width: 80%;
    }
    .des-imagenes{
        grid-template-columns: repeat(4, 1fr);
       
    }

    .caja-imagenes{
        position: relative;
        width: 5rem;
        height: 90%;
       
    }
    .caja-imagenes img{
        width: 100%;
        height: 80%;
    }
}

@media (max-width: 800px) {
    .bor{
        position: absolute;
        width: 1%;
        height: 1%;
    }
    .caja-individual {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 1000px;

    }
    #image {
        width: 60%;
        height: 60%;
    }
    .producto-detalles2 {
        width: 60%;
        height: 60%;
    }

    .des-imagenes{
        grid-template-columns: repeat(3, 1fr);
       
    }


    .caja-imagenes{
        position: relative;
        width: 5rem;
        height: 90%;
       
    }
    .caja-imagenes img{
        width: 100%;
        height: 80%;
    }


}


@media (max-width: 630px) {
    .bor{
        position: absolute;
        width: 1%;
        height: 1%;
    }
    .caja-individual {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 200px;
        height: 1000px;

    }
    #image {
        width: 80%;
        height: 60%;
    }
    .producto-detalles2 {
        width: 80%;
        height: 60%;
    }

    .des-imagenes{
        grid-template-columns: repeat(3, 1fr);
       
    }

    .caja-imagenes{
        position: relative;
        width: 3.5rem;
        height: 75%;
       
    }
    .caja-imagenes img{
        width: 100%;
        height: 80%;
    }


}




.colores-tipos{
    width: 30%;
    height: 20%;
    position: relative;
    right: 38%;
    top: 15%;
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.imagen_tip{
    display: flex;
    height: 100%;
    width: 4rem;
}

.imagen_tip:hover{
    border: 1px solid blueviolet;
    box-shadow: 2px 2px 2px 1px rgb(33, 10, 139);
}
.imagen_tip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#colores_gl{
    display: flex;
    flex-direction: row;
    width: 500px;
    position: relative;
    top: 5%;
}
#colores_gl div {
    display: grid;
    width: 2rem;
    height: 2rem;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 100%;

}


